@media screen and (min-width:961px) {

    body {
        margin: 0;
        padding: 0;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }

    #nav-bar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        height: 50px;
        margin: 0 auto;
    }


    #nav-left {
        color: #448899;
        font-size: 30px;
        font-weight: 700;
    }

    #nav-right {
        display: flex;
        margin: 0px;
        list-style: none;
        font-size: 16px;
        font-weight: 500;
    }

    #nav-right li {
        list-style: none;
        margin-right: 10px;
    }


    .nav-link {
        color: #666666;
    }


    .nav-link:hover {
        color: #757575;
        text-decoration: none;
        cursor: pointer;
    }

    #nav-signout {
        display: none;
        color: #666666;
        text-decoration: none;
    }

    #nav-signout:hover {
        color: #757575;
    }


    #hero-section {
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 320px;
        background-image: url("images/[orig]\ welcome\ image.png");
        background-size: cover;
        background-position: center top;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #dialog-bg {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #666666;
        opacity: 0.5;
        z-index: 10;
    }


    #dialog-signin {
        display: none;
        position: absolute;
        background-color: white;
        opacity: 1;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -95%);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        border-top: 15px solid;
        border-image: linear-gradient(to right, #66AABB, #337788);
        border-image-slice: 1;
        padding: 10px;
    }

    #dialog-signup {
        display: none;
        position: absolute;
        background-color: white;
        opacity: 1;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -95%);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        border-top: 15px solid;
        border-image: linear-gradient(to right, #66AABB, #337788);
        border-image-slice: 1;
        padding: 5px;
    }


    .close-button {
        position: absolute;
        background-color: transparent;
        right: 0px;
        top: 5px;
        border: 0;
        cursor: pointer;
        z-index: 1;
        font-size: 20px;
        font-weight: 400;
    }

    .dialog-headline {
        color: #666666;
        position: relative;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .dialog-comment {
        color: #666666;
        position: relative;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .dialog-comment a {
        text-decoration: none;
        color: #757575;
        position: relative;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .dialog-comment a:hover {
        text-decoration: none;
        color: #666666;
        position: relative;
        margin: 0;
        cursor: pointer;

    }


    #signin-form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 270px;
    }

    #signin-form input {
        border: #E8E8E8 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    #signin-form button {
        padding: 10px;
        margin: 5px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    #signin-message {
        display: none;
        color: red;
    }


    #signup-form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 270px;
    }

    #signup-form input {
        border: #E8E8E8 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    #signup-form button {
        padding: 10px;
        margin: 5px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    #signup-message {
        display: none;
        color: red;
    }

    #slogan {
        left: 50%;
        right: 50%;
        width: 90%;
        max-width: 1200px;

    }

    #slogan h1 {
        color: white;
        margin-top: 5px;
        margin: 0px;
        font-size: 30px;
        font-weight: 700;
    }

    #slogan p {
        margin-bottom: 5px;
        color: white;
        font-size: 16px;
        font-weight: 700;
    }

    #search-bar {
        position: relative;
        margin-top: 10px;

    }

    #search-bar input {
        position: relative;
        height: 40px;
        width: 420px;
        padding: 0;
        border-radius: 5px;
        border: 0;
        box-shadow: 1px 1px 1px #E8E8E8;
        color: #757575;
        font-size: 16px;
        font-weight: 700;
    }

    #search-bar button {
        position: absolute;
        left: 380px;
        height: 40px;
        margin: 0;
        background-color: #448899;
        border: 0;
        border-radius: 0 5px 5px 0;
        box-shadow: 1px 1px 1px gray;
        cursor: pointer;
    }



    #second-section {
        padding: 0px;
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 1200px;
    }


    #list-bar {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        height: 36px;
        align-items: center;
        font-weight: lighter;
        font-size: 14;
        overflow: hidden;

    }

    #arrow-left {
        line-height: 10px;
        left: 0;
        position: absolute;
        background: none;
        border: 0;
        border: 0;
        cursor: pointer;
    }


    #arrow-right {
        line-height: 10px;
        right: 0;
        position: absolute;
        background: none;
        border: 0;
        cursor: pointer;
    }




    #mrts-form {
        padding: 0;
        margin-left: 50px;
        margin-right: 50px;
        overflow: hidden;
        scrollbar-width: smooth;
    }


    #mrts-list {
        padding: 0;
        margin: 0;
        display: flex;
        overflow: hidden;
        list-style: none;
        scrollbar-width: smooth;

    }

    .mrt-name {
        display: inline-block;
        color: #666666;
        margin-right: 15px;
        width: auto;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 500;
    }

    .mrt-name:hover {
        opacity: 0.5;
        margin-right: 15px;
        width: auto;
    }


    #attractions-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-top: 20px;
    }

    .attraction {
        color: white;
        margin: 10px;
        border-radius: 5px;
        border: 1px #E8E8E8 solid;
    }

    .attraction-images {
        background-size: cover;
        position: relative;
        height: 200px;
        background-position: center;
        overflow: hidden;
    }

    .attraction-for-name {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 0;
        width: 100%;
        height: 40px;
        overflow: hidden;
    }


    .attraction-name {
        position: absolute;
        color: rgba(255, 255, 255);
        font-weight: 700;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 10px;
        z-index: 5;
    }

    .category {
        color: #757575;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 16;
        font-weight: 500;

    }

    .category p {
        padding: 0;
        margin: 0;
        font-size: 16;
        font-weight: 500;
    }


    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 15px;
        background-color: #666666;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        z-index: 50;
    }

    #seperator {
        height: 1px;
        border: none;
        background-color: #E8E8E8;
        margin: 0;
        width: 100%;
    }

    section {
        position: relative;
        margin: 30px auto;
        width: 90%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
    }

    .image-container {
        position: relative;
        display: flex;
        width: 50%;
        height: 400px;
    }

    #images-list {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        overflow: hidden;

    }

    #image-left,
    #image-right {
        position: absolute;
        top: 50%;
        background: none;
        border: 0;
        cursor: pointer;
        z-index: 5;
    }

    #image-left {
        left: 10px;
        transform: translateY(-50%);
    }

    #image-right {
        right: 10px;
        transform: translateY(-50%);
    }


    .images {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }


    #dot-list {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }

    .dot {
        background-color: white;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        display: inline-block;
    }

    .blackdot {
        background-color: black;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        display: inline-block;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        color: #666666;
        width: 50%;
        height: 400px;
        background: none;
    }

    #content-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #content-category-mrt {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #time-container {
        position: relative;
        background-color: #E8E8E8;
        border-radius: 5px;
        align-content: space-around;
        padding: 15px;
    }



    #calender-container {
        position: relative;
        display: inline-flex;
        align-items: center;
    }

    #time {
        height: 20px;
        border-radius: 5px;
        border: 0;
        width: 150px;
        margin: 10px;
        padding: 10px;
        background-color: white;
        cursor: pointer;
    }

    #time::-webkit-calendar-picker-indicator {
        display: none;
    }

    #calender {
        position: absolute;
        height: 20px;
        left: 140px;
        cursor: pointer;
    }


    #time-form-button {
        background-color: #448899;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 25px;
        margin-bottom: 20px;
        width: 200px;
        height: 40px;
        font-size: 19px;
        font-weight: 400;
        cursor: pointer;
    }

    input[type="radio"] {
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: white;
        border: 2px solid white;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }

    input[type="radio"]:checked {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        background-color: #448899;
        border: 2px solid white;
    }

    #price {
        display: inline-block;
        margin-top: 10px;
        font-size: 16px;
    }

    hr {
        margin: 30px auto;
        width: 90%;
        border: 1px solid #E8E8E8;
    }



    .introduce-container {
        color: #666666;
        display: block;
        margin-bottom: 100px;
        text-align: justify
    }

    .item-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #booking-titile {
        margin: 30px auto;
        width: 90%;
        max-width: 1200px;
    }


    #contact-container {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 1200px;
    }

    #credit-container {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 1200px;
    }

    #booking-title {
        margin: 30px auto;
        width: 90%;
        max-width: 1200px;
        color: #666666;
        font-size: 20px;
    }

    #with-no-data {
        display: none;
        margin: 30px auto;
        width: 90%;
        color: #666666;
        font-size: 14px;
        max-width: 1200px;
    }



    #booking-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        margin: auto;
        max-width: 1200px;
        width: 95%;
        color: #666666;

    }

    #booking-content-image {
        max-width: 250px;
        max-height: 200px;
    }

    #booking-content-container {
        margin-left: 30px;
    }

    #booking-delete-button {
        position: absolute;
        background-color: white;
        border: none;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    #contact-container {
        color: #666666;
        width: 95%;
    }

    #contact-form input {
        margin: 10px;
        border: 1px #E8E8E8 solid;
        width: 200px;
        height: 30px
    }

    #credit-container {
        color: #666666;
        width: 95%;
    }

    #credit-form input {
        margin: 10px;
        border: 1px #E8E8E8 solid;
        width: 200px;
        height: 30px
    }

    #booking-total-container {
        position: relative;
        margin: auto;
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    #booking-total-container p {
        margin-right: 0;
        margin-left: auto;
        color: #666666;
    }


    #booking-check-button {
        padding: 10px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        width: 180px;
        margin-bottom: 50px;
        margin-top: 5px;
        margin-right: 0;
        margin-left: auto;

    }



    .tpfield {
        margin: 10px;
        border: 1px #E8E8E8 solid;
        width: 200px;
        height: 30px;
        padding: 5px;
        justify-content: flex-start;


    }

    .tappay-container label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .tappay-container {
        display: grid;
        grid-template-columns: 80px 1fr 2fr;
        column-gap: 5px;
    }

    #order-result {
        margin: 50px auto;
        color: #666666;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    #order-number {
        margin: 30px auot;
        font-size: 25px;
        font-weight: 400;
    }

    #order-detail {
        margin: 10px auto;
        font-size: 15px;
        font-weight: 100;
    }
}



@media screen and (max-width:960px)and (min-width:481px) {

    body {
        margin: 0;
        padding: 0;
        font-family: "Josefin Sans", sans-serif;
    }


    #nav-bar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 50px;
        margin: 0 auto;

    }

    #nav-left {
        color: #448899;
        font-size: 30px;
        font-weight: 700;
    }

    #nav-right {
        display: flex;
        margin: 0px;
        list-style: none;
        font-size: 16px;
        font-weight: 500;

    }


    #nav-right li {
        list-style: none;
        margin-right: 10px;
    }


    .nav-link {
        color: #666666;
    }


    .nav-link:hover {
        color: #757575;
        text-decoration: none;
        cursor: pointer;
    }

    #nav-signout {
        display: none;
        color: #666666;
        text-decoration: none;
    }

    #nav-signout:hover {
        color: #757575;
    }



    #hero-section {
        position: relative;
        width: 100%;
        height: 320px;
        background-image: url("images/[orig]\ welcome\ image.png");
        background-size: cover;
        background-position: center top;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #dialog-bg {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #666666;
        opacity: 0.5;
        z-index: 10;
    }


    #dialog-signin {
        display: none;
        position: absolute;
        background-color: white;
        opacity: 1;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -95%);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        border-top: 15px solid;
        border-image: linear-gradient(to right, #66AABB, #337788);
        border-image-slice: 1;
        padding: 10px;
    }


    #dialog-signup {
        display: none;
        position: absolute;
        background-color: white;
        opacity: 1;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -95%);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        border-top: 15px solid;
        border-image: linear-gradient(to right, #66AABB, #337788);
        border-image-slice: 1;
        padding: 5px;
    }


    .close-button {
        position: absolute;
        background-color: transparent;
        right: 0px;
        top: 5px;
        border: 0;
        cursor: pointer;
        z-index: 1;
        font-size: 20px;
        font-weight: 400;
    }

    .dialog-headline {
        color: #666666;
        position: relative;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .dialog-comment {
        color: #757575;
        position: relative;
        margin: 0;
        font-size: 16px;
        font-weight: 400;


    }

    .dialog-comment a {
        text-decoration: none;
        color: #757575;
        position: relative;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .dialog-comment a:hover {
        text-decoration: none;
        color: #666666;
        position: relative;
        margin: 0;
        cursor: pointer;

    }

    #signin-form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 270px;

    }

    #signin-form input {
        border: #E8E8E8 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    #signin-form button {
        padding: 10px;
        margin: 5px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    #signin-message {
        display: none;
        color: red;
    }

    #signup-form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 270px;

    }

    #signup-form input {
        border: #E8E8E8 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        font-weight: 400;
    }


    #signup-form button {
        padding: 10px;
        margin: 5px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    #signup-message {
        display: none;
        color: red;
    }

    #slogan {
        left: 50%;
        right: 50%;
        width: 90%;
    }

    #slogan h1 {
        color: white;
        margin-top: 5px;
        margin: 0px;
        font-size: 30px;
        font-weight: 700;
    }

    #slogan p {
        margin-bottom: 5px;
        color: white;
        font-size: 16px;
        font-weight: 700;
    }

    #search-bar {
        position: relative;
        margin-top: 10px;

    }

    #search-bar input {
        position: relative;
        height: 40px;
        width: 380px;
        padding: 0;
        border-radius: 5px;
        border: 0;
        box-shadow: 1px 1px 1px #E8E8E8;
        color: #757575;
        font-size: 16px;
        font-weight: 700;
    }

    #search-bar button {
        position: absolute;
        left: 340px;
        height: 40px;
        background-color: #448899;
        border: 0;
        border-radius: 0 5px 5px 0;
        box-shadow: 1px 1px 1px gray;
        cursor: pointer;
    }



    #second-section {
        padding: 0px;
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }


    #list-bar {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        height: 36px;
        align-items: center;
        font-weight: lighter;
        font-size: 14;
        overflow: hidden;

    }

    #arrow-left {
        line-height: 10px;
        left: 0;
        position: absolute;
        background: none;
        border: 0;
        border: 0;
        cursor: pointer;
    }

    #arrow-right {
        line-height: 10px;
        right: 0;
        position: absolute;
        background: none;
        border: 0;
        cursor: pointer;
    }

    #mrts-form {
        padding: 0;
        margin-left: 50px;
        margin-right: 50px;
        overflow: hidden;
        scrollbar-width: smooth;
    }


    #mrts-list {
        padding: 0;
        margin: 0;
        display: flex;
        overflow: hidden;
        list-style: none;
        scrollbar-width: smooth;

    }

    .mrt-name {
        display: inline-block;
        color: #666666;
        margin-right: 15px;
        width: auto;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 500;
    }

    .mrt-name:hover {
        opacity: 0.5;
        margin-right: 15px;
        width: auto;
    }

    #attractions-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin-top: 20px;

    }

    .attraction {
        color: white;
        margin: 10px;
        border-radius: 5px;
        border: 1px #E8E8E8 solid;
        overflow: hidden;

    }

    .attraction-images {
        background-size: cover;
        position: relative;
        height: 200px;
        background-image: url("images/[orig]\ welcome\ image.png");
        background-position: center;
        overflow: hidden;
    }

    .attraction-for-name {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 0;
        width: 100%;
        height: 40px;
        overflow: hidden;
    }


    .attraction-name {
        position: absolute;
        color: rgba(255, 255, 255);
        font-weight: 700;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 10px;
        z-index: 5;
    }


    .category {
        color: #666666;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 16;
        font-weight: 500;

    }

    .category p {
        padding: 0;
        margin: 0;
        font-size: 16;
        font-weight: 500;
    }


    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 15px;
        background-color: #666666;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    #seperator {
        height: 1px;
        border: none;
        background-color: #E8E8E8;
        margin: 0;
        width: 100%;
    }

    section {
        margin: 20px auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }

    .image-container {
        position: relative;
        display: flex;
        height: 400px;
    }

    #images-list {
        position: relative;
        width: 100vw;
        height: 100%;
        border-radius: 5px;
        display: flex;
        overflow: hidden;

    }

    #image-left,
    #image-right {
        position: absolute;
        top: 50%;
        background: none;
        border: 0;
        cursor: pointer;
        z-index: 5;
    }

    #image-left {
        left: 10px;
        transform: translateY(-50%);
    }

    #image-right {
        right: 10px;
        transform: translateY(-50%);
    }


    .images {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }


    #dot-list {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }

    .dot {
        background-color: white;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        display: inline-block;
    }

    .blackdot {
        background-color: black;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        display: inline-block;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        color: #666666;
        width: 100%;
        height: 400px;
        background: none;
    }

    #content-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #content-category-mrt {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #time-container {
        position: relative;
        background-color: #E8E8E8;
        border-radius: 5px;
        align-content: space-around;
        padding: 15px;
    }


    #calender-container {
        position: relative;
        display: inline-flex;
        align-items: center;
    }

    #time {
        height: 15px;
        border-radius: 5px;
        border: 0;
        width: 140px;
        margin: 10px;
        padding: 10px;
        background-color: white;
        cursor: pointer;
    }

    #time::-webkit-calendar-picker-indicator {
        display: none;
    }

    #calender {
        position: absolute;
        height: 20px;
        left: 130px;
        cursor: pointer;
    }


    #time-form-button {
        background-color: #448899;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 25px;
        margin-bottom: 20px;
        width: 200px;
        height: 40px;
        font-size: 19px;
        font-weight: 400;
        cursor: pointer;
    }

    input[type="radio"] {
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: white;
        border: 2px solid white;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }

    input[type="radio"]:checked {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        background-color: #448899;
        border: 2px solid white;
    }

    #price {
        display: inline-block;
        margin-top: 10px;
        font-size: 16px;
    }

    hr {
        margin: 30px auto;
        width: 90%;
        border: 1px solid #E8E8E8;
    }



    .introduce-container {
        color: #666666;
        color: #666666;
        display: block;
        margin-bottom: 100px;
        text-align: justify
    }

    .item-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }


    #booking-title {
        margin: 30px auto;
        width: 90%;
        max-width: 1200px;
        color: #666666;
        font-size: 20px;
    }



    #with-no-data {
        display: none;
        margin: 30px auto;
        width: 90%;
        color: #666666;
        font-size: 14px;


    }



    #booking-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        color: #666666;

    }

    #booking-content-image {
        margin: auto;
        max-width: 100%;
        max-height: 500px;
    }

    #booking-delete-button {
        border: none;
        background-color: white;
        margin-right: 0px;
        margin-left: auto;
        cursor: pointer;
    }

    #contact-container {
        display: flex;
        flex-direction: column;
        color: #666666;
        width: 90%;
    }

    #credit-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        color: #666666;
    }

    #contact-form input {
        margin: 10px;
        border: 1px #E8E8E8 solid;
        width: 150px;
        height: 20px
    }


    #credit-form input {
        margin: 10px;
        border: 1px #E8E8E8 solid;
        width: 150px;
        height: 20px
    }


    #booking-total-container {
        position: relative;
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #booking-total-container p {
        margin-right: 0;
        margin-left: auto;
        color: #666666;
    }


    #booking-check-button {
        padding: 10px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        width: 180px;
        margin-bottom: 50px;
        margin-top: 5px;
        margin-right: 0;
        margin-left: auto;

    }


    .tpfield {
        margin: 10px;
        border: 1px #E8E8E8 solid;
        width: 200px;
        height: 30px;
        padding: 5px;
        justify-content: flex-start;


    }

    .tappay-container label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .tappay-container {
        display: grid;
        grid-template-columns: 80px 1fr 2fr;
        column-gap: 5px;
    }

    #order-result {
        margin: 50px auto;
        color: #666666;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    #order-number {
        margin: 30px auot;
        font-size: 25px;
        font-weight: 400;
    }

    #order-detail {
        margin: 10px auto;
        font-size: 15px;
        font-weight: 100;
    }
}




@media screen and (max-width:480px) {

    body {
        margin: 0;
        padding: 0;
        font-family: "Josefin Sans", sans-serif;
        font-weight: normal;
        font-style: normal;
    }


    #nav-bar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 50px;
        margin: 0 auto;

    }

    #nav-left {
        color: #448899;
        font-size: 24px;
        font-weight: 700;
    }

    #nav-right {
        display: flex;
        margin: 0px;
        list-style: none;
        font-size: 14px;
        font-weight: 500;

    }

    #nav-right li {
        list-style: none;
        margin-right: 10px;
    }


    .nav-link {
        color: #666666;
    }


    .nav-link:hover {
        color: #757575;
        text-decoration: none;
        cursor: pointer;
    }

    #nav-signout {
        display: none;
        color: #666666;
        text-decoration: none;
    }

    #nav-signout:hover {
        color: #757575;
    }


    #hero-section {
        position: relative;
        width: 100%;
        height: 320px;
        background-image: url("images/[orig]\ welcome\ image.png");
        background-size: cover;
        background-position: center top;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #dialog-bg {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #666666;
        opacity: 0.5;
        z-index: 10;
    }


    #dialog-signin {
        display: none;
        position: absolute;
        background-color: white;
        opacity: 1;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -95%);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        border-top: 15px solid;
        border-image: linear-gradient(to right, #66AABB, #337788);
        border-image-slice: 1;
        padding: 10px;
    }

    #dialog-signup {
        display: none;
        position: absolute;
        background-color: white;
        opacity: 1;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -95%);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        border-top: 10px solid;
        border-image: linear-gradient(to right, #66AABB, #337788);
        border-image-slice: 1;
        padding: 5px;
    }


    .close-button {
        position: absolute;
        background-color: transparent;
        right: 0px;
        top: 5px;
        border: 0;
        cursor: pointer;
        z-index: 1;
        font-size: 19px;
        font-weight: 400;
    }

    .dialog-headline {
        color: #666666;
        position: relative;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .dialog-comment {
        color: #757575;
        position: relative;
        margin: 0;
        font-size: 16px;
        font-weight: 400;


    }

    .dialog-comment a {
        text-decoration: none;
        color: #757575;
        position: relative;
        margin: 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    .dialog-comment a:hover {
        text-decoration: none;
        color: #666666;
        position: relative;
        margin: 0;
        cursor: pointer;

    }


    #signin-form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 270px;

    }

    #signin-form input {
        border: #E8E8E8 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    #signin-form button {
        padding: 10px;
        margin: 5px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    #signin-message {
        display: none;
        color: red;
    }

    #signup-form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 250px;

    }

    #signup-form input {
        border: #E8E8E8 1px solid;
        border-radius: 50x;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    #signup-form button {
        padding: 10px;
        margin: 5px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    #signup-message {
        display: none;
        color: red;
    }

    #slogan {
        left: 50%;
        right: 50%;
        width: 90%;
    }

    #slogan h1 {
        color: white;
        margin-top: 5px;
        margin: 0px;
        font-size: 26px;
        font-weight: 700;
    }

    #slogan p {
        margin-bottom: 5px;
        color: white;
        font-size: 14px;
        font-weight: 700;
    }

    #search-bar {
        position: relative;
        margin-top: 10px;
    }

    #search-bar input {
        position: relative;
        height: 40px;
        width: 230px;
        padding: 0;
        border-radius: 5px;
        border: 0;
        box-shadow: 1px 1px 1px #E8E8E8;
        color: #757575;
        font-size: 16px;
        font-weight: 700;
    }

    #search-bar button {
        position: absolute;
        left: 200px;
        height: 40px;
        margin: 0;
        background-color: #448899;
        border: 0;
        border-radius: 0 5px 5px 0;
        box-shadow: 1px 1px 1px gray;
        cursor: pointer;
    }



    #second-section {
        padding: 0px;
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }


    #list-bar {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: 36px;
        align-items: center;
        font-weight: lighter;
        font-size: 14;
        overflow: hidden;


    }

    #arrow-left {
        line-height: 10px;
        left: 0;
        position: absolute;
        background: none;
        border: 0;
        border: 0;
        cursor: pointer;
    }

    #arrow-right {
        line-height: 10px;
        right: 0;
        position: absolute;
        background: none;
        border: 0;
        cursor: pointer;
    }

    #mrts-form {
        padding: 0;
        margin-left: 50px;
        margin-right: 50px;
        overflow: hidden;
        scrollbar-width: smooth;
    }


    #mrts-list {
        padding: 0;
        margin: 0;
        display: flex;
        overflow: hidden;
        list-style: none;
        scrollbar-width: smooth;

    }

    .mrt-name {
        display: inline-block;
        color: #666666;
        margin-right: 15px;
        width: auto;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 500;
    }

    .mrt-name:hover {
        opacity: 0.5;
        margin-right: 15px;
        width: auto;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 500;
    }

    #attractions-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-top: 20px;

    }

    .attraction {
        color: white;
        margin: 10px;
        border-radius: 5px;
        border: 1px #E8E8E8 solid;
        overflow: hidden;

    }

    .attraction-images {
        position: relative;
        height: 200px;
        background-image: url("images/[orig]\ welcome\ image.png");
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }


    .attraction-for-name {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 0;
        width: 100%;
        height: 40px;
        overflow: hidden;
    }


    .attraction-name {
        position: absolute;
        color: rgba(255, 255, 255);
        font-weight: 700;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 10px;
        z-index: 5;
    }


    .category {
        color: #666666;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 16;
        font-weight: 500;

    }

    .category p {
        padding: 0;
        margin: 0;
        font-size: 16;
        font-weight: 500;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 15px;
        background-color: #666666;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    #seperator {
        height: 1px;
        border: none;
        background-color: #E8E8E8;
        margin: 0;
        width: 100%;
    }

    section {
        margin: 0px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .image-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 250px;
    }

    #images-list {
        position: relative;
        width: 100vw;
        height: 100%;
        display: flex;
        overflow: hidden;

    }

    #image-left,
    #image-right {
        position: absolute;
        top: 50%;
        background: none;
        border: 0;
        cursor: pointer;
        z-index: 5;
    }

    #image-left {
        left: 10px;
        transform: translateY(-50%);
    }

    #image-right {
        right: 10px;
        transform: translateY(-50%);
    }


    .images {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }


    #dot-list {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }

    .dot {
        background-color: white;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        margin: 0 5px;
        display: inline-block;
    }

    .blackdot {
        background-color: black;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        margin: 0 5px;
        display: inline-block;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #666666;
        width: 90%;
        margin: 10px auto;
        background: none;
    }

    #content-title {
        font-size: 20px;

    }

    #content-category-mrt {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 16px;

    }

    #time-container {
        position: relative;
        background-color: #E8E8E8;
        border-radius: 5px;
        align-content: space-around;
        padding: 15px;
    }

    #calender-container {
        position: relative;
        display: inline-flex;
        align-items: center;
    }

    #time {
        height: 15px;
        border-radius: 5px;
        border: 0;
        width: 130px;
        margin: 10px;
        padding: 10px;
        background-color: white;
        cursor: pointer;
    }

    #time::-webkit-calendar-picker-indicator {
        display: none;
    }

    #calender {
        position: absolute;
        height: 20px;
        left: 120px;
        cursor: pointer;
    }

    #time-form-button {
        background-color: #448899;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
        width: 150px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }

    input[type="radio"] {
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: white;
        border: 2px solid white;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }

    input[type="radio"]:checked {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        background-color: #448899;
        border: 2px solid white;
        font-size: 14px;
    }

    #price {
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
    }

    hr {
        margin: 20px auto;
        width: 90%;
        border: 1px solid #E8E8E8;
    }



    .introduce-container {
        color: #666666;
        color: #666666;
        display: block;
        width: 90%;
        margin-bottom: 100px;
        font-size: 14px;
        text-align: justify
    }

    .item-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #contact-form input {
        border: #E8E8E8 1px solid;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        font-size: 14px;
        font-weight: 400;
    }

    #booking-titile {
        margin: 30px auto;
        width: 90%;
        font-size: 15px;
    }

    #with-no-data {
        margin: 30px auto;
        width: 90%;
        color: #666666;
        font-size: 14px;
    }

    #booking-introduce-container {
        margin: 30px auto;
        display: flex;
        width: 90%;
        max-width: 1200px;
    }



    .inline-text {
        display: inline;
    }

    #booking-title {
        margin: 30px auto;

        width: 90%;
        color: #666666;
        font-size: 20px;
    }


    #with-no-data {
        display: none;
        margin: 30 auto;
        width: 90%;
        color: #666666;
        font-size: 16px;
    }

    #booking-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        color: #666666;

    }

    #booking-content-image {
        width: 100%;
        margin: auto;
    }

    #booking-delete-button {
        border: none;
        background-color: white;
        margin-right: 0px;
        margin-left: auto;
        cursor: pointer;
    }

    #contact-container {
        margin: 10px auto;
        color: #666666;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #contact-form input {
        margin: 5px;
        border: 1px #E8E8E8 solid;
        width: 150px;
        height: 20px
    }

    #credit-container {
        margin: 10px auto;
        color: #666666;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #credit-form input {
        margin: 5px;
        border: 1px #E8E8E8 solid;
        width: 150px;
        height: 20px
    }

    #booking-total-container {
        position: relative;
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #booking-total-container p {
        margin-right: 0;
        margin-left: auto;
        color: #666666;
    }


    #booking-check-button {
        padding: 10px;
        color: white;
        background-color: #448899;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        width: 180px;
        margin-bottom: 100px;
        margin-top: 5px;
        margin-right: 0;
        margin-left: auto;

    }

    .tpfield {
        margin: 10px;
        border: 1px #E8E8E8 solid;
        width: 150px;
        height: 30px;
        padding: 5px;
        justify-content: flex-start;


    }

    .tappay-container label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .tappay-container {
        display: grid;
        grid-template-columns: 80px 1fr 2fr;
        column-gap: 5px;
    }

    #order-result {
        margin: 50px auto;
        color: #666666;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    #order-number {
        margin: 30px auot;
        font-size: 25px;
        font-weight: 400;
    }

    #order-detail {
        margin: 10px auto;
        font-size: 15px;
        font-weight: 100;
    }

}